<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/welcome-header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>The current scenario is:</p>
        <ol type="1">
        <% responses.forEach(function(item,i){%>
            <li><%=item.user %></li>
            <ol type="a">
            <% item.question.forEach(function(ans,j){%>
                <li>
                    item.response&nbsp;&nbsp;<%= ans%> 
                </li>
             <%})%>
            </ol>
            <%})%>
            </ol>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>